{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<form class="form-inline" method="post">
  <div class="form-group mb-2">
    <label class="my-1 mr-2" for="user_id">User id</label>
    <input type="text" class="form-control form-control-sm" name="user_id" id="user_id"
      placeholder="405311">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label class="my-1 mr-2" for="bookmark_id">Bookmark</label>
    <input type="text" class="form-control form-control-sm" name="bookmark_id" id="bookmark_id"
      placeholder="2">
  </div>

    <button type="submit" class="btn btn-primary mb-2">Filter</button>
</form>

{% if user_id %}
  <p>いまは user id : {{user_id}} の {{bookmark_id}} 番目のブクマでフィルタしてるよ</p>
{% endif %}

{% endblock %}